services:
  canvas-be:
    image: canvas-be:latest
    container_name: canvas-be
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "${HOST_PORT:-8000}:${CONTAINER_PORT:-8000}"

    restart: always

    environment:
      # General configuration
      PORT: ${CONTAINER_PORT:-8000}
      
      # PostgreSQL database configuration
      POSTGRES_HOST_AUTH_METHOD: ${POSTGRES_HOST_AUTH_METHOD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      # CORS configuration
      CORS_ORIGINS: ${CORS_ORIGINS}

      # Openbao Credentials
      OPENBAO_ADDR: ${OPENBAO_ADDR}
      BAO_READ_ROLE_ID: ${BAO_READ_ROLE_ID}
      BAO_READ_SECRET_ID: ${BAO_READ_SECRET_ID}
      BAO_WRITE_ROLE_ID: ${BAO_WRITE_ROLE_ID}
      BAO_WRITE_SECRET_ID: ${BAO_WRITE_SECRET_ID}

      # AI Force Endpoints
      AIFORCE_PMS: ${AIFORCE_PMS}
      AIFORCE_GCS: ${AIFORCE_GCS}
      AIFORCE_HEALTH_CHECK: ${AIFORCE_HEALTH_CHECK}