services:
  canvas-be:
    image: canvas-be:latest
    container_name: canvas-be
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "8030:8010"

    restart: always

    environment:
      # PostgreSQL database configuration
      POSTGRES_HOST_AUTH_METHOD: ${POSTGRES_HOST_AUTH_METHOD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      # CORS configuration
      CORS_ORIGINS: ${CORS_ORIGINS}

      # Openbao Credentials
      OPENBAO_ADDR: ${OPENBAO_ADDR}
      BAO_READ_ROLE_ID: ${BAO_READ_ROLE_ID}
      BAO_READ_SECRET_ID: ${BAO_READ_SECRET_ID}
      BAO_WRITE_ROLE_ID: ${BAO_WRITE_ROLE_ID}
      BAO_WRITE_SECRET_ID: ${BAO_WRITE_SECRET_ID}