<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>New User? Register Now!</h2>
        <form action="{{ url_for('register') }}" method="POST">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>
            <button type="submit">Register</button>
        </form>

        <div class="login-links">
            <a href="/login" class="new-user-btn">Already have an account? Login</a>
        </div>
    </div>
</body>
</html>